.header {
    &__wrapper {
        padding: 60px 0;
        display: flex;

        @media screen and (@max576) {
            padding: 30px 0;
        }
    }

    &__logo img {
        @media screen and (@max924) {
            width: 100px;
        }
    }

    &__nav {
        margin-left: auto;

        @media screen and (@max768) {
            display: none;
        }
    }

    &__menu {
        display: flex;

        li {
            padding: 0 20px;

            a {
                color: @color-white;
                font-family: @sub-font;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                .transition (@prop, @time, @ease);

                &:hover {
                    color: @color-buttered-rum;
                }
            }
        }
    }
}