.cards {
    &__wrapper {
        padding: 56px 0 110px 0;
    }

    &__inner {

        display: grid;
        justify-content: space-between;
        grid-template-columns: auto auto auto;
        grid-column-gap: 10px;
        row-gap: 60px;
        min-height: 100vh;

        @media screen and (@max924) {
            grid-template-columns: auto auto;
        }

        @media screen and (@max576) {
            grid-template-columns: auto;
            justify-content: center;
        }
    }

    .card {
        display: none;
        opacity: 0;
        max-width: 350px;
        background-color: @color-tuna-07;
        transition: opacity 1s ease;
        border-radius: 5px;

        &_active {
            display: block;
        }

        @media screen and (@max768) {
            max-width: 260px;
        }

        @media screen and (@max576) {
            max-width: 350px;
        }

        &__image {
            height: 292px;
            max-height: 100%;

            @media screen and (@max924) {
                height: fit-content;
            }

            img {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
        }

        &__content {
            display: flex;
            justify-content: space-between;
            padding: 20px 30px;

            @media screen and (@max768) {
                padding: 10px;
            }
        }

        &__info {
            .btn {
                width: 158px;
                height: 37px;
                background-color: @color-buttered-rum;
                font-weight: 600;
                font-size: 15px;
                line-height: 18px;
                border-radius: 5px;
            }
        }

        &__tittle {
            max-width: 160px;
            word-wrap: break-word;

            @media screen and (@max768) {
                max-width: 130px;
            }

            h4 {
                font-weight: 600;
                font-size: 20px;
                line-height: 23px;

                @media screen and (@max768) {
                    font-size: 18px;
                    line-height: 20px;
                }
            }
        }

        &__price {
            padding: 20px 0;

            span {
                font-weight: 300;
                font-size: 15px;
                line-height: 18px;
            }
        }

        &__detail button {
            font-weight: 300;
            font-size: 13px;
            line-height: 15px;
            text-decoration: dotted;
            color: @color-white;
            position: relative;
        }

        &__detail button::after {
            content: " ";
            background-color: #A2810E;
            border: 2.5px solid #A2810E;
            border-radius: 99rem;
            height: 0;
            width: 0;
            margin-top: 6px;
            left: -8px;
            position: absolute;
        }
    }

    &__show-more {
        margin: 60px auto 0 auto;
        display: block;
        background-color: transparent;
        border: 1px solid @color-white;
        font-size: 18px;
        line-height: 20px;
        font-weight: 400;
        opacity: 0.5;
        .transition (@prop, @time, @ease);

        &:hover {
            opacity: 1;
            background-color: transparent;
            color: @color-white;
        }
    }
}